.blog-content-container{
    margin-top: 6%;
    border-radius: 16px;
    margin-right: 1%;
    margin-left: 1%;
}

.subheading-content{
    color: var(--bg-color);
font-family: Inter;
font-size: 16.453px;
font-style: normal;
font-weight: 500;
line-height: 23.39px; /* 142.161% */
}

.subheading{
    color: var(--bg-color);
font-family: Inter;
font-size: 14.302px;
font-style: normal;
font-weight: 400;
line-height: 22.67px; /* 158.514% */
}

.goBack-btn{
    border-radius: 1000px;
opacity: 0.7;
background: var(--secondary-bg);
color: var(--bg-color);
font-family: Inter;
font-size: 17.016px;
font-style: normal;
font-weight: 500;
line-height: 17.99px; /* 105.726% */
}

.icon{
    border-radius: 1000px;
background: var(--secondary-bg);
padding: 0.8rem;
display: flex;
justify-content: center;
align-items: center;
}

.toc-column {
    position: sticky;
    top: 0; /* Adjust as needed */
    overflow-y: auto; /* Enable scrolling if the content is taller than the viewport */
  }
  