.blog-content-container{
    margin-top: 6%;
    border-radius: 16px;
    margin-right: 1%;
    margin-left: 1%;
}

.subheading-content{
    color: rgba(38, 45, 41, 0.60);
font-family: Inter;
font-size: 16.453px;
font-style: normal;
font-weight: 500;
line-height: 23.39px; /* 142.161% */
}

.subheading{
    color: #43554B;
font-family: Inter;
font-size: 14.302px;
font-style: normal;
font-weight: 400;
line-height: 22.67px; /* 158.514% */
}