.css-o4b71y-MuiAccordionSummary-content{
    margin-bottom: 0 !important;
}
.css-178xtz6-MuiPaper-root-MuiAccordion-root.Mui-expanded{
    margin: 0 !important;
}
.css-o4b71y-MuiAccordionSummary-content{
    justify-content: right !important;
}
.css-178xtz6-MuiPaper-root-MuiAccordion-root,.css-14bscn5-MuiPaper-root-MuiAccordion-root{
    box-shadow: none !important;
}
.css-v4u5dn-MuiInputBase-root-MuiInput-root:after{
   border-bottom: none !important;
}
@media only screen and (max-width:1175px){
    .resources{
        margin-left: 11vw !important;
    }
    .resources-text{
        margin-left: 11vw !important;
        /*  */
    }
    .resources-text p{
        font-size: 3.75rem;
    }
    .resources-navbar{
        margin-left: 11vw !important;
    }
    .cards-container{
        padding: 70px 50px !important;
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .resources-filter{
        padding: 30px 100px 0 !important;
    }
    .card{
        width:'380px' !important;
        margin: auto !important;
    }
}
@media only screen and (max-width:1000px){
    .resources-text p{
        font-size: 3rem;
    }
    .resources{
        margin-left: 8vw !important;
    }
    .resources-text{
        margin-left: 8vw !important;
        /*  */
    }
    .resources-navbar{
        margin-left: 8vw !important;
    }
    .resources-navbar-content{
        margin-top: 13px;
    }
    .resources-navbar-content button{
       padding: 12px 21px !important;
    }
    .cards-container{
        padding: 70px 50px !important;
        grid-template-columns: repeat(1, 1fr) !important;
    }
    .resources-filter{
        padding: 30px 60px 0 !important;
    }
    .card{
        width: 100% !important;
    }
    .card img{
        height: 300px !important;
    }
}
@media only screen and (max-width:782px){
    .resources-text p{
        font-size: 2.5rem;
    }
    .resources{
        margin-left: 4vw !important;
    }
    .resources-text{
        margin-left: 2vw !important;
        margin-top: 90px !important;
    }
    .resources-navbar{
        margin-left: 2vw !important;
    }
    .resources-navbar-content{
        margin-top: 11px;
    }
    .card img{
        height: 200px !important;
    }
}
@media only screen and (max-width:586px){
    .resources-text{
        margin-top: 60px !important;
    }
    .cards-container{
        padding: 50px 18px !important;
    }
    .resources-filter{
        padding: 30px 12px 0 !important;

    }
    .filters-category{
        padding: 20px 5px !important;
    }
    .resources-navbar-content button{
        padding: 8px 12px !important;
     }
     .resources-navbar-content{
        margin-top: 10px !important;
      margin-bottom: 10px !important;
     }
     .resources-text p{
        line-height: normal !important;
    }
    .cards-container{
        gap: 5px !important;
        padding-bottom:20px !important;
    }
    .resources{
        padding-top: 10px !important;
    }
}
