.service-box{
    height: 35vh;
    width: 30%;
    padding: 1rem 1rem; /* Example padding values with rem units */
    margin-left: 1rem;
    background-color: #36453d; /* Button background color */
    border-radius: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

