.service-cards {
    overflow-x: hidden;  display: flex;
    position: relative;
    z-index: 9999;
}
    

.service-box {
    height: 300px;
    width: 300px;
    padding: 1rem;
    margin-left: 1rem;
    background-color: var(--custom-btn);
    border-radius: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    flex: 0 0 auto; /* Fix the size, don't allow shrinking */
}
.servicePage-box {
    height: 100%;
    width: 24%;
    padding: 1rem;
    margin-left: 1%;
    background-color: var(--custom-btn);
    border-radius: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    flex: 0 0 auto; /* Fix the size, don't allow shrinking */
    aspect-ratio: 3/2;
}
.service-box img {
    width: 4rem;
    height: 4rem;
}

.service-box p {
    font-size: 1.2rem;
}
.servicePage-box img {
    width: 4rem;
    height: 4rem;
    margin-bottom: 3rem;
}
.servicePage-wholeDiv{
    padding-top: 1rem;
}
.servicePage-box p {
    font-size: 1.2rem;
}
@media (width<=770px) {
    .servicePage-wholeDiv{
        padding-top: 2rem;
    }
    .servicePage-card-gradient{
        display: none;
    }
    .servicePage-box{
        width: 100%;
        height: fit-content;
    }
    .arrowDownService{
        right: 0 !important;
    }
    .services-container{
        margin-bottom: 0 !important;
    }
    
}
@media (width<=450px) {
    .servicePage-wholeDiv{
        padding-top: 3rem;
    }
    .services-container{
        margin: 0 auto !important;
    }
    .services-container .cards{
        margin-bottom: 1rem !important;
        margin-right: 0rem !important;
    }
    .arrowDownService{
        display: none !important;
    }
}