.why-marketeer-container {
    position: relative;
    min-height: 50vh;
  }
  
  .why-marketeer-content {
    max-width: 82%;
    margin: 0 auto;
    padding: 80px 55px;
  }
  
  .why-marketeer-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
  }
 
  .why-marketeer-title {
    position: sticky;
    top: 80px;
    
    color: gray;
     font-family: 'MyCustomFont', sans-serif;
     font-size: 1.18em;
     font-weight: 500;

  }

  .height{
    max-height: 50vh;
  }
  
  .why-marketeer-title h4 {
      position: sticky;
    top: 80px;
    
    color: gray;
     font-family: 'MyCustomFont', sans-serif;
     font-size: 1.18em;
     font-weight: 500;
  }
  
  .why-marketeer-text {
    position: relative;
    z-index: 10;
 
  }
  
  .why-marketeer-text-content {
    /* letter-spacing: 0.2rem; */
   
 
   font-family: "MyCustomFont",sans-serif;

   
  }
  
  @media (min-width: 1024px) {
    .why-marketeer-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  