.faq-question{
font-family: Inter;
font-size: 2.6rem;
font-style: normal;
font-weight: 500;

}

.faq-question:hover span {
    color: var(--text-color-with-opacity) !important;
    cursor: pointer;
  }
  
  .faq-question:hover{
    color: var(--text-color-with-opacity) !important;
    cursor: pointer;
  }
 
  .faq-question.open span {
    color: var(--main-text-color) !important;
    cursor: pointer;
  }

  