.faq-question{
font-family: Inter;
font-size: 2.6rem;
font-style: normal;
font-weight: 500;

}

.faq-question-hover:hover span {
    color: var(--text-color-with-opacity) !important;
    cursor: pointer;
  }
  
  .faq-question-hover:hover{
    color: var(--text-color-with-opacity) !important;
    cursor: pointer;
  }
 
  .faq-question-hover.open span {
    color: var(--main-text-color) !important;
    cursor: pointer;
  }

  