* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  overflow-x: hidden;
}

  :root {
    --main-text-color: rgb(138, 171, 196);   /* Define a text color variable */
    --bg-color: rgb(38, 41, 43);     /* Define a background color variable */
    --main-font-size: 16px;    /* Define a font size variable */
    --box-color: border-radius: 24px;
    --background-color: rgb(62, 83, 102);
    --background-color-opacity: rgba(75, 62, 102, 0.2);
    --text-color: #9ca0a4;
    --secondary-bg: #d8e0ef;
    --primary-text: #435055;
    --custom-btn: rgb(136, 166, 189, 0.09);
    --border: rgb(199, 216, 220);
    --text-color-with-opacity: rgba(178, 192, 211, 0.33);
    --input-fields: rgba(57, 86, 153, 0.05);
    --transparent-bg: #395699;
    --secondary-text-color: #030506;
    --primary-bg: rgba(27, 26, 31, 0.8);
    --opacity-bg: rgb(138, 171, 196, 0.4);
  }

  .text-light-bg{
    color: var(--secondary-bg);
  }
  
  .img-overlay{
    /* background: url("./assets/Section.jpg.png"); */
    background-size: cover;
    /* z-index: -1; */
    transform: rotate(360deg);
    left: -747px;
    top: -150px;
  }

  .img-overlay-7{
    /* background: url("./assets/Section.jpg.png"); */
    background-size: cover;
    /* z-index: -1; */
    transform: rotate(277deg);
    right: -500px;
    top: -1060px;
  }

  .img-overlay-2{
    /* z-index: -10; */
    transform: rotate(-222deg);
    top: -150px;
    right: -600px;
  }

  .img-overlay-4{
    transform: rotate(-253deg);
    top: -1050px;
    left: -1050px;
  }

  .img-overlay-5{
    transform: rotate(-253deg);
    bottom: -1050px;
    left: -1050px;
  }

  .img-overlay-6{
    transform: rotate(-253deg);
    bottom: -700px;
    left: -1200px;
  }
  
  .img-overlay-8{
    transform: rotate(-253deg);
    bottom: -450px;
    left: -1000px;
  }

  .overflow-x-hidden {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  
.custom-container{
margin: 3% 3%;
}

.font-7{
    font-size: 7rem;
}

.font-1{
    font-size: 1.4rem;
}

.font-2{
  font-size: 1.7rem;
}

.font-3{
    font-size: 3rem;
}

.font-10{
  font-size: 10rem;
}
.vh-90{
  height: 85vh;
}

.button-container {
  position: relative;
}

.marginTop-0{
  margin-left: 3rem;
  margin-right: 3rem;
}

.primary-button {
  position: relative;
  overflow: hidden;
}

.content-container {
  display: flex;
  transition: transform 0.5s ease;
}

.active-content {
  transform: translateX(0%);
}

.inactive-content {
  transform: translateX(-100%);
}

.bg-opacity{
  background-color: "var(--background-color-opacity)"  !important;
}

.toggle-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;
}


.custom-button {
    padding: 2rem 4rem; /* Example padding values with rem units */
    margin-left: 2rem;
    align-items: center;
    justify-content: center;
    background-color: var(--custom-btn); /* Button background color */
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
  }
  
  .market-headline{
    padding-right: 4rem;
  }
  .green-border {
    padding-top: 3% !important;
    border-top: 0.8px solid var(--main-text-color); /* Adjust the color and size as needed */
  }

  .custom-button-2 {
    padding: 0;
    margin-right: 2rem;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    display: inline-block; /* or inline-flex based on your layout needs */
    overflow: hidden; /* Prevent image overflow */
  }
  
  .button {
    height: 4%;
    width: 18%; /* Make the image fill the container */
    display: block; /* Remove any default inline spacing */
    transition: transform 0.3s ease; /* Example transition for hover effect */
  }
  
  .custom-button:hover .button {
    transform: scale(1.05); /* or any other transform value for hover effect */
  }

  .h1 {
    padding-bottom: 100vh;
  }

  text p {
    background: linear-gradient(to right, #ffffff 50%, #252525 50%);
    background-size: 200% 100%;
    background-position-x: 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    user-select: none;
    font-size: 2rem;
  }
  to {
    transform: translateX(-100%);
  }

  .main{
    overflow: hidden;
  }

  .container {
    position: relative;
  }
  
  .content-wrapper {
    position: relative;
    margin-top: 3%;
  }

  .blog-heading-1{
    color: #43554B;
font-family: Inter;
font-size: 2.69063rem;
font-style: normal;
font-weight: 500;
line-height: 3.54813rem; /* 131.869% */
  }

  .blog-intro{
    color: #43554B;
font-family: Inter;
font-size: 2.03906rem;
font-style: normal;
font-weight: 700;
line-height: 2.47375rem; /* 121.318% */
  }

  .blog-text{
    color: #69776F;
font-family: Inter;
font-size: 1.0925rem;
font-style: normal;
font-weight: 400;
line-height: 1.97875rem; /* 181.125% */
  }

  /* Add this to your existing CSS or create a new stylesheet */
.col-4 ul li.active {
  color: red; /* Change this to your desired highlight color */
  font-weight: bold; /* Optional: Add styling for emphasis */
}

  
  .header-container {
    background-color: rgba(27, 26, 31, 0.8);
    width: 100%;
    padding: 20px; /* Adjust the padding as needed */
    box-sizing: border-box;
    border-radius: 20px;
    
  }

  .sidecut-image {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
    z-index: 1; /* Ensure it appears above other elements */
    background: none !important;
  }
  
  .company-cards{
    height: 15rem;
    /* width: 30rem; */
    padding: 0.6em;
    border-radius: 1rem !important;
    border: 2px solid var(--border);
    background-color: var(--custom-btn); 
}

.company-cards-border{
  height: 15rem;
  /* width: 30rem; */
  padding: 1.6em;
}

/* Hover state */
.company-cards:hover {
  background-color: #f0f5f5; 
}

.review-card{
  border-radius: 24px;
background: rgb(215, 225, 233, 9);
/* height: 50%; */
height: 35rem;
     width: 30rem; 
    padding: 0.6em;
    border-radius: 1rem !important;
    border: 2px solid var(--border);
}

.rounded-border{
  border-radius: 1000px;
border: 2px solid #C9DCC6;
}

.btn {
  border-radius: 1000px !important;
  background-color: rgba(202, 220, 199, 0.5) !important; /* Adjust the RGB values as needed */
}


.blog{
  border-radius: 15px !important;
}

.subscribe{
  border-radius: 16px;
background: var(--custom-btn);
}

.custom-input::placeholder {
  color: var(--text-color) !important;
  /* Add any other styles you want for the placeholder */
}

.img-container{
  padding: 3rem;
}

.sticky {
  position: sticky;
  top: 0; /* Adjust this value based on your design */
  /* Additional styles as needed */
}

.footer-font{
  font-size: 1.4rem;
  color: var(--secondary-text-color);
}

.sm-ratings{
  flex-direction: column;
}

.getInTouch {
  display: flex;
}

.sm-none {
  display: none;
}

.subscription-sm{
  display: none !important;
}

.footer-sm-1{
  align-items: center;
}

.footer-sm-2{
  align-items: center;
}

.contact-container{
  height: 35vh;
  width: 30%;
  padding: 1rem 1rem; /* Example padding values with rem units */
  margin-left: 1rem;
  /* background-color: rgba(27, 26, 31, 9); Button background color */
  background-color: var(--custom-btn);
  border-radius: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
}

@media (max-width: 320px) {
  .sidebar{
    width: 18rem !important;
   }
}

@media (max-width: 400px) {
  
 .font-2{
  font-size: 1.2rem;
 }
 .rating-sm{
  font-size: 2rem;
 }

  
}

@media (max-width: 450px) {
  .sidebar{
    width: 21rem ;
   }
}

@media (max-width: 770px) {
  .faq-heading{
    font-size: 2rem !important;
  }
  .font-2{
    font-size:1.2rem;
  }
  .subscription-sm{
    display: flex !important;
  }
  .svg-icon{
    display: none;
  }
.contact-sm{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.blog-sm{
  display: flex;
  flex-direction: column;
}
.blog-img-sm{
  width: 100%;
}
.subscribe{
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  margin-top: 1rem;
}
.rating-container{
  padding-left: 3% !important;
  padding-right: 3% !important;
}
.frequent-que{
  width: 100%;
}
.whyus-sm{
  flex-direction: column;
}
.cards{
  flex-direction: column;
  margin-right: 2rem;
  gap: 1rem;
  margin-bottom: 5rem;
}
.service-box{
  width: 100% !important;
  height: 25vh !important;
}
.main-heading{
  font-size: 3rem !important;
}
.exist{
  flex-direction: column;
}
.rating-container{
  flex-direction: column;
}
.sm-ratings{
  display: flex;
  flex-direction: row !important;
  padding-top: 0 !important;
  margin-top: 0 !important;
  padding-bottom: 0 !important;
}
.pt-sm{
  margin-top: 25% !important;
}
.pb-sm{
  margin-bottom: 2% !important;
}
.arrowDown{
  display: none;
}
.record{
  left: -7% !important;
}
.mt-sm{
  margin-top: 2% !important;
}
.company-cards{
  height: 10rem;
}
.getInTouch{
  display: none !important;
}
.sm-none{
  display: block !important;
}
.sm-icon{
  padding-right: 0 !important;
  margin-bottom: 1rem;
  gap: 0.6rem;
}
.circle-review{
  display: none !important;
}
.subscriptions{
  display: none !important;
}
.footer-sm-1, .footer-sm-2{
flex-direction: column;
}

.footer-sm-1{
  align-items: flex-start !important;
}

.footer-sm-2{
  align-items: end !important;
}
.forwardslash{
  display: none;
}
.contact-container{
  margin: 0 !important;
}
.arrow-sm{
  display: none !important;
}
.toc-column{
  display: none;
}
.icon-sm{
  display: none !important;
}
.sm-col{
  flex-direction: column;
}
}


@media (max-width: 830px) {
  
  .main-heading{
    font-size: 3rem;
  }
  .custom-button{
    padding: 1rem 3rem; 
  }
  .img-container{
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }
  .footer-font{
    font-size: 1rem;
  }
  
}

@media (max-width: 992px){
  .none{
    display: none;
  }
  .card{
    height: 18rem !important;
  }
}

@media (max-width: 992px){
  .testimonials-md{
    display: flex;
    flex-direction: column;
    gap: 3rem;
   }
   .faq-question{
    font-size: 1.6rem !important;
    }
    .header-container-sm{
      padding-right: 0 !important;
    }
}


@media (max-width: 1100px) {
  .main-heading{
    font-size: 5rem ;
  }
  .marketeer{
    font-size: 2rem !important;
  }
  .font-10{
    font-size: 5rem;
  }
  .subscription{
    font-size: 2rem;
  }
  .blog-headline{
    font-size: 3rem !important;
  }
}

@media (max-width: 1100px) {


  }

@media (max-width: 1200px) {
.rating-sm{
  font-size: 3rem !important;
}
.main-heading{
  font-size: 5rem;
}
}


@media (max-width: 1400px) {
  .img-overlay{
    display: none;
  }
  .img-container{
margin-top: 1rem;
padding-right: 0;
  }

}

@media (max-width: 1500px) {
 .testimonials-md{
  padding-left: 0 !important;
  padding-right: 0 !important;
 }

}

/* blur on hover over asterisk */

.blur {
  background-color: black;
  opacity: 15%;
  transition: all 0.8s ease;
}


.hover-text {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  transform: translateY(100%); /* Initially position it below the viewport */
  transition: transform 0.8s ease; /* Use transform property for smooth sliding */
}

.hover-text.active {
  transform: translateY(0); /* Move it to its final position */
}

