* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --main-text-color: #97d28b;   /* Define a text color variable */
    --bg-color: #262d29;     /* Define a background color variable */
    --main-font-size: 16px;    /* Define a font size variable */
    --box-color: border-radius: 24px;
    --background-color: rgb(62, 102, 81);
    --background-color-opacity: rgb(62, 102, 81, 0.2);
    --text-color: #9da49c;
    --secondary-bg: #DCEFD8;
    --primary-text: #43554b;
    --custom-btn: #313935;
    --border: rgb(202, 220, 199);
    --text-color-with-opacity: rgba(178, 211, 193, 0.33);
    --input-fields: rgba(220, 239, 216, 0.05);
    --transparent-bg: #36453d;
    --secondary-text-color: #a3b3a2;

  }

  
  .img-overlay{
    /* background: url("./assets/Section.jpg.png"); */
    background-size: cover;
    /* z-index: -1; */
    transform: rotate(220deg);
    left: -1100px;
    top: -150px;
  }

  .img-overlay-2{
    /* z-index: -10; */
    transform: rotate(-357deg);
    top: -316px;
    right: -600px;
  }

  .img-overlay-3{
    background-size: cover;
     transform: rotate(340deg) scale(1.5);
     left: -1000px; 
    /* /* bottom: 3600px; */
  }

.custom-container{
margin: 3% 3%;
}

.font-7{
    font-size: 7rem;
}

.font-1{
    font-size: 1.4rem;
}

.font-2{
  font-size: 1.7rem;
}

.font-3{
    font-size: 3rem;
}

.font-10{
  font-size: 10rem;
}
.vh-90{
  height: 85vh;
}

.button-container {
  position: relative;
}

.primary-button {
  position: relative;
  overflow: hidden;
}

.content-container {
  display: flex;
  transition: transform 0.5s ease;
}

.active-content {
  transform: translateX(0%);
}

.inactive-content {
  transform: translateX(-100%);
}

.bg-opacity{
  background-color: "var(--background-color-opacity)"  !important;
}

.toggle-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;
}


.custom-button {
    padding: 2rem 4rem; /* Example padding values with rem units */
    margin-left: 2rem;
    align-items: center;
    justify-content: center;
    background-color: var(--custom-btn); /* Button background color */
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
  }
  
  .market-headline{
    padding-right: 4rem;
  }
  .green-border {
    padding-top: 3% !important;
    border-top: 0.8px solid #50684c; /* Adjust the color and size as needed */
  }

  .custom-button-2 {
    padding: 0;
    margin-right: 2rem;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    display: inline-block; /* or inline-flex based on your layout needs */
    overflow: hidden; /* Prevent image overflow */
  }
  
  .button {
    height: 4%;
    width: 18%; /* Make the image fill the container */
    display: block; /* Remove any default inline spacing */
    transition: transform 0.3s ease; /* Example transition for hover effect */
  }
  
  .custom-button:hover .button {
    transform: scale(1.05); /* or any other transform value for hover effect */
  }

  .h1 {
    padding-bottom: 100vh;
  }

  text p {
    background: linear-gradient(to right, #ffffff 50%, #252525 50%);
    background-size: 200% 100%;
    background-position-x: 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    user-select: none;
    font-size: 2rem;
  }
  to {
    transform: translateX(-100%);
  }

  .main{
    overflow: hidden;
  }

  .container {
    position: relative;
  }
  
  .content-wrapper {
    position: relative;
    margin-top: 3%;
  }
  
  .header-container {
    background-color: rgba(27, 29, 27, 0.2);
    width: 100%;
    padding: 20px; /* Adjust the padding as needed */
    box-sizing: border-box;
    border-radius: 20px;
    
  }

  .sidecut-image {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
    z-index: 1; /* Ensure it appears above other elements */
    background: none !important;
  }
  
  .company-cards{
    height: 15rem;
    /* width: 30rem; */
    padding: 0.6em;
    border-radius: 1rem !important;
    border: 2px solid var(--border);
    background-color:#d0e6cc; 
}

.company-cards-border{
  height: 15rem;
  /* width: 30rem; */
  padding: 1.6em;
}

/* Hover state */
.company-cards:hover {
  background-color: #f0f5f5; 
}

.review-card{
  border-radius: 24px;
background: #E4ECE3;
/* height: 50%; */
height: 35rem;
     width: 30rem; 
    padding: 0.6em;
    border-radius: 1rem !important;
    border: 2px solid var(--border);
    background-color:#d0e6cc; 
}

.rounded-border{
  border-radius: 1000px;
border: 2px solid #C9DCC6;
}

.btn {
  border-radius: 1000px !important;
  background-color: rgba(202, 220, 199, 0.5) !important; /* Adjust the RGB values as needed */
}


.blog{
  border-radius: 15px !important;
}

.subscribe{
  border-radius: 16px;
background: rgba(151, 210, 139, 0.40);
}

.custom-input::placeholder {
  color: var(--text-color) !important;
  /* Add any other styles you want for the placeholder */
}

.img-container{
  padding: 3rem;
}

.sticky {
  position: sticky;
  top: 0; /* Adjust this value based on your design */
  /* Additional styles as needed */
}

.footer-font{
  font-size: 1.4rem;
  color: var(--secondary-text-color);
}

@media (max-width: 770px) {

}


@media (max-width: 830px) {
  .main-heading{
    font-size: 3rem !important;
  }
  .custom-button{
    padding: 1rem 3rem; 
  }
  .img-container{
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }
}


@media (max-width: 1100px) {
  .main-heading{
    font-size: 5rem ;
  }
  .marketeer{
    font-size: 2rem !important;
  }
  .font-10{
    font-size: 5rem;
  }
  .subscription{
    font-size: 2rem;
  }
  .blog-headline{
    font-size: 3rem !important;
  }
}

@media (max-width: 1200px) {
.rating-sm{
  font-size: 3rem !important;
}
}


@media (max-width: 1400px) {
  .img-overlay{
    display: none;
  }

}


